@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Teklif Sorgulama Ana Sayfa</h1>
</div>
<p>
    Teklif sorgulama formuna erişim için menüde bulunan Teklif Sorulama sekmesine tıklayınız. Aşağıdaki alanlara giriş yapılarak sorgulama yapılabilir. Olumlu, Olumsuz ve Bilgi sonuçlarına göre listeleme yapılmaktadır.
</p>
<ul>
    <li> “Teklif No” değerini “ProposalNo” alanına,</li>
    <li> “Yenileme No” değerini “RenewalNo” alanına,</li>
    <li> “Zeyil No” değerini “EndorsNo” alanına,</li>
    <li>
        "Ürün No" değerini ise “ProductNo” alanına.
    </li>
</ul>
